<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title th:replace="~{::title}">Intranet RH</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <h1>Intranet RH PME</h1>
    <nav>
        <a th:href="@{/employes/profile}">Profil</a> |
        <a th:href="@{/conges}">Congés</a> |
        <a th:href="@{/logout}">Déconnexion</a>
    </nav>
    <hr/>
</header>
<div th:replace="~{::section}"></div>
<footer>
    <hr/>
    <p>© 2025 Intranet RH PME</p>
</footer>
</body>
</html>
